*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.navbar{
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* nav logo */
.logo{
    background-image: url(logo.jpg);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.nav_logo{
    height: 60px;
    width: 100px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/* nav location */
.navbar-location{
    height: 60px;
    width: 100px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.india{
    display: flex;
    gap: 3px;
}

.navbar-location p{
    margin-left: 24px;
    color: #ccc;
    font-size: 0.8rem;
}

.navbar-location i{
    color: #fff;
}

.navbar-location span{
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

/* nav search */
.navbar-search{
    display: flex;
    background-color: orange;
    height: 40px;
    width: 500px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.search{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navbar-search input{
    width: 100%;
    border: none;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.border1{
    border: none;
}

.border1:hover{
    border: 2px solid transparent;
}

/* nav signin */
.navbar-signin{
    height: 60px;
    width: 120px;
    color: #fff;
    text-align: center;
    align-items: center;
}

span{
   font-size: 0.7rem;
   margin-right: 50px;
}

#span{
   font-size: 0.7rem;
   margin-right: 22px;
}

#second{
   font-size: 0.8rem;
   font-weight: 800;
}

.navbar-cart{
    color: white;
    font-weight: 800;
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
}

.navbar-cart i{
   font-size: 35px;
   color: white;
}

/* navlite */
.navbarlite{
    height: 40px;
    background-color: #222f3d;
    color: #fff;
    display: flex;
    align-items: center;
}

.navbarlite-others p{
    display: inline;
    margin-left: 15px;
    text-align: center;
}

.navbarlite-others{
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
}

/* hero-section */
.hero-section{
    background-image: url(main.jpg);
    height: 350px;
    background-size: cover;
}

/* shop-section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #d1ebef;
    flex-wrap: wrap;
}

.box{
    height: 320px;
    width: 22%;
    /* border: 2px solid black; */
    background-color: #fff;
    padding: 20px;
    margin: 15px;
}

#box1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-img{
    height: 220px;
    background-size: cover;
}

.box p{
    color: #007185;
}

/* footer */
.footer1{
    height: 50px;
    background-color: #374758;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin: 20px;
}

ul p{
    font-weight: bold;
    margin-left: 5px;
}

ul a{
    color: #ddd;
    display: block;
    font-size: 0.8rem;
    margin: 5px;
    text-decoration: none;
}

.footer3{
    height: 50px;
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid white;
    /* border: 0.1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    /* background-image: url(logo.jpg); */
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer4{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    flex-direction: column;
    justify-content: center;
}

.pages{
    font-size: 0.8rem;
}

.pages a{
    color: white;
    text-decoration: none;
}

.copyright{
    font-size: 0.8rem;
    padding: 8px;
}

.shopsection{
    margin-top: 20px;
    background-image: url(bike.png);
    height: 350px;
    background-size: cover;
}

